---
layout: default
title: Homepage
---
<!------------ Image Banner ------------>

<section class="grid banner-sm bg-overlay">
    <div class=" padded tall-70 grid-middle">
        <div class="col-8_sm-10">
            <h2>Website design & development that grows with your business</h2>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptates inventore quas qui sed necessitatibus, tempora ab quaerat, facere tenetur cum, eos iure aut! Alias temporibus quam, impedit ducimus soluta eius.</p>
        </div>
    </div>
</section>

<!------------ Newsletter sign-up banner ------------>
{% include newsletter-signup.html %}


<!-- Icon grid -->
<section class="grid-middle padded center icon-section" id="why-us">
    <div class="col-12 padded-b">
        <h2> Why Choose Us</h2>
    </div>
    <div class="col-3_sm-6_xs-12">
        <img src="/images/icons/flash.png" alt="">
        <h4>Lightning Fast</h4>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quia, consectetur aliquam sequi voluptas eligendi expedita optio?</p>
    </div>
    <div class="col-3_sm-6_xs-12">
            <img src="/images/icons/idea-2.svg" alt="">
            <h4>Strategic Perspective</h4>
            <p>Explicabo, eius itaque iste error esse adipisci, id labore veritatis dolorem pariatur nostrum. </p>
    </div>
    <div class="col-3_sm-6_xs-12">
        <img src="/images/icons/seo-tag.png" alt="">
        <h4>Optimised for Google</h4>
        <p>Voluptate, error possimus nihil cupiditate ex iste temporibus!</p>
    </div>
    <div class="col-3_sm-6_xs-12">
        <img src="/images/icons/dollar.svg" alt="">
        <h4>Modern E-Commerce</h4>
        <p>Eveniet, perferendis quasi ducimus deleniti dolor iure pariatur ex ut commodi maiores facilis?</p>
    </div>
</section>

<!-- Intro Banner -->
<section class="grid-middle bg-featured padded light-text">
    <div class="col-7_sm-12 bg-image bg-meeting padded tall-50">
    </div>
    <div class="col-5_sm-12 padded">
        <h2>More than just another agency.</h2>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iste corrupti ratione praesentium aspernatur nobis numquam repudiandae minima, consectetur, rerum voluptatum corporis ex. Ullam doloribus porro quibusdam, dicta modi facere vero! Voluptas minima quo veritatis hic quibusdam ipsam. Beatae quas sed facilis, perferendis accusamus est?</p>
        <p> Corporis, in minima, voluptate consectetur reiciendis deserunt eveniet dolorum maxime similique ratione iste nobis. Magnam aspernatur natus deleniti facere nulla numquam beatae adipisci tempore rem assumenda et.</p>
    </div>
</section>

<!-- Community CTA -->
<section class="padded bg-dark light-text center">
    <h3>We have a community of over 3500 entrepeneurs.</h3>
    <a href="#" class="button">Join the Facebook Community</a>
</section>


<!-- Services section -->
<section class="grid-middle bg-image bg-plant2 padded tall-60">
    <div class="col-6"></div>
    <div class="col-6 right">
        <h2>Our Services</h2>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maiores omnis, velit provident quis, possimus esse ducimus voluptates quam rerum accusantium impedit voluptatibus consectetur maxime ullam optio deleniti eligendi laborum numquam.</p>
    </div>
</section>

<!-- Services Grid -->
<section class="grid-middle padded">
    <div class="col-4_sm-12 padded">
        <h3>Design.</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid similique placeat iusto animi dolorum maxime saepe architecto amet, corrupti neque accusamus molestiae ut at aut culpa praesentium harum consequuntur quas?</p>
    </div>
    <div class="col-4_sm-12 padded">
        <h3>Build.</h3>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Temporibus impedit neque nihil non, reiciendis qui commodi! Possimus illo, et, autem beatae enim expedita dolor velit, obcaecati est repellendus mollitia dolores.</p>
    </div>
    <div class="col-4_sm-12 padded">
        <h3>SEO.</h3>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Harum iusto blanditiis molestiae ipsum, dolorem ad facere id? Culpa, molestias illum, quae mollitia tempora voluptatem accusantium sapiente sit nemo, hic quas.</p>
    </div>
</section>

<!-- Projects section -->
<section class="bg-accent padded projects sm-text-center">
    <h2 class="center">Recent Projects</h2>

    {% for project in site.projects limit: 2 %}
    <div class="grid flex-flip-alternate">
        <div class="col-5_sm-12-middle padded">
            <h3>{{ project.title }}</h3>
            <p>{{ project.description }}</p>
            <a href="#" class="button" target="_blank">Go to site</a>
        </div>
        <div class="col-7_sm-12-middle padded">
            <img src="{{ project.featured_image }}" alt=" {{ project.title }} ">
        </div>
    </div>

    {% endfor %}

</section>

