<!DOCTYPE html>
<html lang="en">
{% include head.html %}
</head>

<body>
    <header>
    <!-- Put your header code in here -->
    <div class="grid-middle">
        <div class="col-4_xs-12">
            <h1>The Design Collective.</h1>
        </div>
        <nav class="col-6_sm-12">
            <a href="/why-us.html">Why Us</a>
            <a href="/services.html">Services</a>
            <a href="/projects.html">Projects</a>
            <a href="/contact.html">Contact</a>
        </nav>
    </div>  
    </header>

       {{content}}   

    <footer>
        <!-- put your footer code in here -->
    </footer>
</body>
</html>