<!DOCTYPE html>
<html lang="en">
{% include head.html %}


<body>
    <header class="grid">
    <!-- Put your header code in here -->
        <div class="col-8_sm-12-middle left padded-0 sm-text-center">    
            <a href="/index.html"><h1>The Design Collective.</h1></a>
        </div>
        <nav class="col-4_sm-12-middle right padded-0 sm-text-center">
            <a href="/about.html">About</a>
            <a href="/services.html">Services</a>
            <a href="/portfolio">Portfolio</a>
            <a href="/contact.html">Contact</a>
        </nav> 
    </header>

       {{content}}   

    <footer class="grid-middle padded padded-b-0">
        <div class="col-6_sm-12 padded">
            <h2>The Design Collective.</h2>
            <h4>Web Design & Development</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos, eum. Ea, mollitia praesentium voluptatum sit ad aut maxime sed vel ab fuga accusamus modi, nam velit, in labore ducimus pariatur!</p>
        </div>
        <div class="col-6_sm-12-bottom padded right">
            <h4>Let's Connect</h4>
            <nav>
                <a href="#"><i class="fa-brands fa-pinterest-p"></i></a>
                <a href="#"><i class="fa-brands fa-instagram"></i></a>
                <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                <a href="#"><i class="fa-brands fa-youtube"></i></a>
            </nav>
        </div>
        <div class="col-12 center padded-t-1 padded-b-1"> 
            <p>Copyright 2022</p>
        </div>   
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.js" integrity="sha512-n/4gHW3atM3QqRcbCn6ewmpxcLAHGaDjpEBu4xZd47N0W2oQ+6q7oc3PXstrJYXcbNU1OHdQ1T7pAP+gi5Yu8g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.js" integrity="sha512-C1zvdb9R55RAkl6xCLTPt+Wmcz6s+ccOvcr6G57lbm8M2fbgn2SUjUJbQ13fEyjuLViwe97uJvwa1EUf4F1Akw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

        <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

</body>
</html>